---
import Layout from '../../../layouts/Layout.astro';
import { getOEISDataFull } from '../../../lib/api';

const data = (await getOEISDataFull()).map(({ props }) => props);
const topCollaborators = new Set(...data.reduce((acc, { seq }) => {
  const authors = seq.author.match(/_(.*?)_/g).filter(name => name.trim() !== '_Vincenzo Manto_');
  acc.push(...authors.map(name => name.replace(/_/g, ' ')));
  return acc;
}, []));
 const perc = 100*(1 - 1/(2.2*Math.sqrt(data.length + 0.4))).toFixed(2);
---

<Layout title="Mathematics">
  <h2 style="margin-bottom: 2.5rem;">Integer Sequences (OEIS)</h2>
  <p style="color: var(--color-text-light); margin-bottom: 2rem;">Vincenzo Manto is the authro of {data.length} integer sequences in the OEIS database.
  His work has contributed to the field of integer sequences, ranging from <code>{data[0].custom?.name || data[0].seq?.name}</code> (A{data[0].seq.number}) to <code>{data[data.length - 1].custom?.name || data[data.length - 1].seq?.name}</code> (A{data[data.length - 1].seq.number}).<br>
  His most prolific partners include {topCollaborators}.<br>
  These sequences have been cited by {data.reduce((acc, { seq }) => acc + seq.xref.length, 0)} other sequences, making him a {perc}-percentile contributor.
  </p>

  <div>
    {data.map(({seq,custom}) => (
      <div class="card">
        <h3 style="margin-bottom: 0.5rem;"><a href={`${import.meta.env.BASE_URL}math/A${seq.number}`}>
		{seq.draft ? '[Draft] ' : ''}
		{custom?.name} A{seq.number}</a>: {seq.name}</h3>
        <p class="meta">Created: {new Date(seq.created).toLocaleDateString()} | Author: {seq.author.replace(/_/g, ' ')}</p>
        <p class="meta"><strong>Cited by:</strong> {seq.xref.length} sequences</p>
      </div>
    ))}

  </div>
</Layout>
